
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
C                      = PT
ST                     = Castelo Branco
L                      = Covilha
O                      = tudoigual
OU                     = .
CN                     = None
emailAddress           = None@tudoigual.com

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]§
DNS.1 = None
DNS.2 = *.None
